@font-face {
 	font-family:"Andika";
 	src:url("Andika-Regular.ttf") format('ttf');
 	font-style:normal;
 	font-weight:400;
}

@font-face {
 	font-family:"Andika";
 	src:url("Andika-Bold.ttf") format('ttf');
 	font-style:normal;
 	font-weight:700;
}

@font-face {
 	font-family:"Andika";
 	src:url("Andika-Italic.ttf") format('ttf');
 	font-style:italic;
 	font-weight:400;
}

@font-face {
 	font-family:"Andika";
 	src:url("Andika-BoldItalic.ttf") format('ttf');
 	font-style:italic;
 	font-weight:700;
}

body {
	font-family:Andika;
}

#headbox {
	position:absolute;
	left:2vw;
	top:10vh;
	width:37.5vw;
	height:80vh;
}

#iconbox {
	position:absolute;
	background-image:url("piphanytapesavatar.png");
	background-size:100%;
	width:37.5vw;
	height:37.5vw;
	margin:0;
	top:0;
	left:0vw;
}

#bannerbox {
	position:absolute;
	background-image:url("piphanytapesheader.png");
	background-size:100%;
	width:37.5vw;
	height:calc(0.20738636363*37.5vw);
	margin:0;
	bottom:0;
	left:0;
}

#tapebox {
	position:absolute;
	left:41.5vw;
	top:10vh;
	width:56.5vw;
	height:80vh;
}

#tapetable {
	width:100%;
	height:100%;
	overflow:scroll;
}

tr {
	width:100%;
	height:15vh;
}

.albumart {
	max-height:15vh;
	max-width:15vh;
}

.albumname {
	font-style:bold;
}

.artists span {
	font-style:italic;
}
